
	div{
		
		
		background-image: url(image/fundo.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		font-family: "Times New Roman", Helvetica, sans-serif;
	}

	h1,h2,h3{
		text-align-last: center;
	}

/*
<!--Primeira forma de aplicar o css e diretamente dentro de uma tag utilzando a palavra style:"", onde sera colocado todas as aterações dentro das aspas, se for mais de uma alteração separar por ;

		Segunda forma é diretamente dentro da ta head da seguinte forma:

		<style type="text/css" media=""

		</style> 
		type="text/css -> informando que esta editando um texto de css"
		media-> informa para o navegador aonde sera renderizado este estilo css. ex: screen, que siginifica somente em tela.

		a terceira forma seria utilizando um documento a parte e chamar dentro da tag head escrevendo:
		<link rel="stylesheet" type="text/css" href="">
		link-> link entre paginas, que apenas o navegador ira interpretar
		rel-> relação deste documento
		stylesheet -> documento de estilo
		type -> reforça que e um tipo de documento de texto css
		href-> localização do documento css.

		outra forma de importar seria através da tag style

		<style>
			@import url("Endereço do arquivo");
		</style>

		background-image: url(image/fundo.png); adicionar imagem no backgroud
		background-repeat: no-repeat; para devifinir se repete a imagem
		background-position: center; deixar a imagem posicionado no centro da tela
		background-size: cover; para definir a imagem no tamanho da pagina
		background-attachment: fixed; para deixar a imagem fixada, onde ao abaixar ela fica fixa
	-->
*/